@import 'bootstrap/scss/bootstrap';
.base-container {
  @extend .container-fluid;
  max-width: var(--breakpoint-lg);
  padding: 30px 15px;
}

/* max-width */

.mw-md {
  max-width: 720px;
}

.mw-lg {
  max-width: 960px;
}

.mw-xl {
  max-width: 1200px;
}

body {
  padding-top: 56px;
}

/*
 *= require_tree .
 *= require_self
 */


.navbar-nav {
  font-size: 15px;
}

.navbar {
  margin: 0 auto;
}

body {
  padding-top: 56px;
}

// flash
.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

// pagination
.pagination {
  justify-content: center;
}