<footer class = "footer bg-primary">
  <a href="#" class="text-white">LINE</a>
  <a href="#" class="text-white">Twitter</a>
  <a href="#" class="text-white">YouTube</a>
  <a href="#" class="text-white">Facebook</a>
</footer>
